@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/acme-v21-latin-regular.eot');
  src: url('./fonts/acme-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/acme-v21-latin-regular.woff2') format('woff2'),
    url('./fonts/acme-v21-latin-regular.woff') format('woff'),
    url('./fonts/acme-v21-latin-regular.ttf') format('truetype'),
    url('./fonts/acme-v21-latin-regular.svg#Acme') format('svg');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}


@media(max-width:768px) {
  .medium {
    grid-template-columns: 360px auto;
  }
}

.footer {
  grid-template-columns: 393px auto auto auto;
}

@layer components {
  .title {
    @apply text-white
  }

  .desc {
    @apply text-[#ADB9C7]
  }
}

.nav_links {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.tx {
  resize: none;
  overflow: hidden;
}

.tx::-webkit-scrollbar {
  display: none;
}

.profile {
  background: linear-gradient(138.18deg, #216CFD -7.24%, #002ECF 105.61%);
}

.main-color {
  color: #4f46e5;
}

.second-color {
  color: hwb(0 0% 100% / 0.6);
}

.main-family {
  font-family: 'Acme', Arial, Helvetica, sans-serif;
}

.main-card-bg {
  background-color: #bbbbbb99;
}

.main-btn-bg {
  background: #4f46e5;
}